# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Xlenco
subtitle: 互联网中的静谧之地
description: 分享互联网各种知识,建站经验...
keywords: Hexo,Butterfly,知识,教程,互联网,分享,js,css
author: Xlenco
language: zh-CN
timezone: Asia/Shanghai

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://xlenco.top
# permalink: :year/:month/:day/:title/
# permalink_defaults:
permalink: posts/:abbrlink.html
abbrlink:
  alg: crc16 #support crc16(default) and crc32
  rep: hex   #support dec(default) and hex
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: Acrylic

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
   - type: git
     repo: git@github.com:xlenco/xlenco.github.io.git
     branch: master
     ignore_hidden: false 

# hexo-algoliasearch
algolia:
  appId: "CE9M4IN0HW"
  apiKey: "1752a7306752d7764efbad19f907367b"
  adminApiKey: "837e620106579ed41c094194f2dc9d06"
  chunkSize: 5000
  indexName: "my-hexo-blog"
  fields:
    - content:strip:truncate,0,500
    - excerpt:strip
    - Gallery
    - permalink
    - photos
    - slug
    - tags
    - title

    # fcircle
# see https://anzhiy.cn/posts/3753.html
fcircle:
  enable: true #控制开关
  apiurl: https://fcircle.xlenco.top/ #api地址
  initnumber: 30 #【可选】页面初始化展示文章数量
  stepnumber: 30 #【可选】每次加载增加的篇数
  css: https://jsd.onmicrosoft.cn/npm/hexo-filter-fcircle-anzhiyu@1.1.2/assets/css/default.min.css #【可选】开发者接口，自定义css链接
  js: https://jsd.onmicrosoft.cn/npm/hexo-filter-fcircle-anzhiyu@1.1.2/assets/js/fcircle.min.js #【可选】开发者接口，自定义js链接
  fetchJs: https://jsd.onmicrosoft.cn/npm/hexo-filter-fcircle-anzhiyu@1.1.2/assets/js/fetch.min.js
  randomFriendsPostJS: /js/random-friends-post.js
  topIcon: fas fa-arrow-right
  topLink: /about/
  top_background: https://xlenco.onmicrosoft.cn/img/12258.webp
  path: /fcircle #【可选】fcircle的路径名称。默认为 fcircle，生成的页面为 fcircle/index.html
  front_matter: #【可选】fcircle页面的 front_matter 配置
    title: 朋友圈
    comments: false
    aside: false
    top_img: false