#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
  .loading-bg
    img.loading-img(src='https://xlenco.eu.org/img/head.webp',data-lazy-src="https://xlenco.eu.org/img/head.webp")
