/* rightMenu右键菜单 */
#rightMenu {
    display: none;
    position: fixed;
    width: 160px;
    height: fit-content;
    top: 10%;
    left: 10%;
    background-color: var(--card-bg);
    border: 1px solid var(--font-color);
    border-radius: 8px;
    z-index: 100;
}

#rightMenu .rightMenu-group {
    padding: 7px 6px;
}

#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--font-color);
}

#rightMenu .rightMenu-group.rightMenu-small {
    display: flex;
    justify-content: space-between;
}

#rightMenu .rightMenu-group .rightMenu-item {
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    transition: 0.3s;
    color: var(--font-color);
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
}

#rightMenu .rightMenu-group .rightMenu-item:hover {
    background-color: var(--text-bg-hover);
}

#rightMenu .rightMenu-group .rightMenu-item i {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}

#rightMenu .rightMenu-group .rightMenu-item span {
    line-height: 30px;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
    height: 40px;
    line-height: 40px;
}

.rightMenu-group.hide {
    display: none;
}


/* 背景图片样式优化 */
#web_bg, [data-theme=dark] #web_bg {
    background-size: 20rem;
    background-repeat: initial
}

/* footer页脚美化 */
#footer {
    background: rgba(255,255,255,.15)!important;
    color: #000!important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)!important
}

#footer #footer-wrap {
    color: var(--font-color)!important
}

#footer #footer-wrap a {
    color: var(--font-color)!important
}

/* 修改waline样式 */
/* 修改评论框外观 */
.wl-panel {
    border-radius: 4px !important;
}

:root {
    --waline-bgcolor-light: transparent !important;
}

.wl-btn {
    border-radius: 0.3em !important;
}


/* 修改评论区内容背景 */
.wl-card .wl-content {
    background: #f5f5f5;
    padding: 16px !important;
    margin: 12px 0 8px !important;
    border-radius: 3px;
}

.wl-card {
    border-bottom: none !important;
    padding-bottom: 0px !important;
}

.wl-cards .wl-item{
    padding: .5em .5em 0px !important;
}
