@font-face{
  font-family:'hk4e' ;  /* 字体名自定义即可 */
  src:url('/fontsdest/hk4e.ttf'); /* 字体文件路径 */
  font-display : swap;
}


@font-face{
  font-family:'HarmonyOS' ;  /* 字体名自定义即可 */
  src:url('/fontsdest/HarmonyOS.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'hk4e', HarmonyOS;
}

/* 鼠标样式 */
body {
  cursor: url("https://ik.imagekit.io/nicexl/cursor/normal.cur"), default;
}
a,
img,
button {
  cursor: url("https://ik.imagekit.io/nicexl/cursor/link.cur"), default !important;
}









