/**这是自定义CSS*/

/*OWO*/
#owo-big {
  position: fixed;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px #aaa solid;
  border-radius: 10px;
  z-index: 9999;
  display: none;
  transform: translate(0, -105%);
  overflow: hidden;
  animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
  background-color: #4a4a4a
}

#owo-big img {
  width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
  0% {
      transform: translate(0, -95%);
      opacity: 0;
  }
  100% {
      transform: translate(0, -105%);
      opacity: 1;
  }
}

/*root*/

:root{
  --crl-border-soild: 1px solid #e3e8f7;
  --crl-border-dashed: 1px dashed #e3e3e3;
  --crl-border-radius: 16px;
  --crl-div-radius: 8px;
}



svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 20px;
}
#recent-posts>.recent-post-item {
  position: relative;
}
/* 头像微调 */
.flink-item-icon {
  margin-right: 0 !important;
  transition: .5s !important;
}

.flink-item-name,
.flink-item-desc {
  padding-left: 10px !important;
}
#article-container .flink .flink-list>.flink-list-item{
    height: 100px;
    border-radius: 10px!important;
    border: var(--crl-border-soild);
}
/* 去掉原来自带的before */
#article-container .flink .flink-list>.flink-list-item::before {
  content: none;
}

/* 鼠标经过改变背景 */
#article-container .flink .flink-list>.flink-list-item:hover {
  background-color: #61bcf2cc;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

/* 鼠标经过改变文字颜色 */
#article-container .flink .flink-list>.flink-list-item:hover a {
  color: white !important;
}

/* 鼠标经过头像滚动 */
#article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
  width: 60px;
  margin-left: -70px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* 双栏
#recent-posts{
	/* margin-top:-1rem;  头部为空时抵消间隔，若有磁贴或日历请注释掉该行 
	align-content:flex-start;
	display: flex;
  flex-wrap: wrap; /*规定灵活的项目在必要的时候拆行或拆列。
  justify-content: space-between; /*。
}
#recent-posts > .recent-post-item {
  /*max-height:324px;*/  /*文章容器最大高度
  margin-top: 1rem; /*最小间距
  display: inline-block;
  height:auto; /*高度自动
  width:49%;/*文章容器容器宽度
}
 #recent-posts > .recent-post-item .post_cover {
  width: 100%; /*图片封面宽度
  height: 200px;/*图片封面高度 
} 
#recent-posts > .recent-post-item .post_cover img.post_bg {
  width: 100%;/*图片宽度
  height: 100%;/*图片高度
} 


#recent-posts > .recent-post-item >.recent-post-info > .content {
display:none;/*隐藏文章详情
}
#recent-posts > .recent-post-item 
  -webkit-flex-direction: column; /*容器内部纵向排列
  -ms-flex-direction: column; /*容器内部纵向排列
  flex-direction: column; /*容器内部纵向排列

}
#recent-posts > .recent-post-item .left_radius {
    border-radius: var(--crl-div-radius) 8px 0 0;/*圆角修改
}
#recent-posts > .recent-post-item .right_radius {
    border-radius: var(--crl-div-radius) 8px 0 0;/*圆角修改
}
.recent-post-item{
	height:auto !important;/*容器高度自动
}

.recent-post-info {
  
  padding: 0 40px;/*容器内部文字左右间距
  margin-top: 1em;/*容器内部文字上间距
  width: 100%!important;/*容器宽度
}
#recent-posts > .recent-post-item > .recent-post-info > .article-title {
    -webkit-line-clamp: 1;/*控制标题的行数
    margin-top: 0.3rem; /*控制标题的上间距
	margin-bottom: 0.3rem;/*控制标题的下间距
    color: var(--text-highlight-color);
    font-size: 1.2em; /*控制标题的字体大小
    line-height: 1.4;/*控制标题的行高
 
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap {
	margin-bottom: 1rem;/*控制标题meta信息的底部间距
}
@media screen and (max-width: 768px) {
#recent-posts > .recent-post-item {
 width:100%;/*控制手机自适应
}} */

/*twikoo*/
.OwO .OwO-body {
  border: var(--style-border-always) !important;
  border-radius: var(--crl-div-radius) !important;
  overflow: hidden;
  background-color: var(--crl-maskbg) !important;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px)
}
.tk-extra-text {
  line-height: 1;

}

.tk-extra .tk-icon {
  display: none;
}
.tk-icon {
  position: absolute;
}


.OwO .OwO-body .OwO-items .OwO-item:hover {
  box-shadow: var(--crl-shadow-lightblack) !important;
  border-radius: var(--crl-div-radius)
}


div#post-comment {
  margin-top: 2rem
}

#post-comment>div.comment-head>div.comment-privacy {
  display: block;
  justify-content: space-between;
  float: right;
  line-height: 2rem
}

#post-comment .comment-tips {
  background-color: rgba(103, 194, 58, 0);
  border: var(--style-border-always);
  border-color: var(--crl-green);
  color: var(--crl-green);
  border-radius: var(--crl-div-radius);
  padding: 8px 12px;
  margin-top: .5rem;
  display: none
}

#post-comment .comment-tips.show {
  display: flex
}

.tk-avatar {
  width: 32px !important;
  height: 32px !important;
  box-shadow: var(--crl-shadow-border)
}

.tk-avatar.tk-has-avatar {
  width: 32px !important;
  height: 32px !important;
  border-radius: 100% !important
}

.tk-row .tk-avatar {
  display: none
}

.tk-avatar .tk-avatar-img {
  height: 32px !important
}

.tk-avatar .tk-avatar-img:hover {
  transform: rotate(360deg)
}

img.tk-avatar-img {
  height: 32px !important
}

.tk-avatar {
  margin-right: .5rem !important
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
  animation: commonTriangleIn .3s
}

@keyframes commonTipsIn {
  0% {
      top: -50px;
      opacity: 0
  }

  100% {
      top: -60px;
      opacity: 1
  }
}

@keyframes commonTriangleIn {
  0% {
      transform: translate(-50%, -36px);
      opacity: 0
  }

  100% {
      transform: translate(-50%, -46px);
      opacity: 1
  }
}

.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  display: none;
  position: absolute;
  top: -60px;
  white-space: nowrap;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 14px 18px;
  background: rgba(68, 68, 68, 0);
  color: #fff;
  z-index: 100
}

.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -46px)
}

.tk-nick {
  font-size: 1rem !important;
  line-height: 32px
}

.el-input-group__append,
.el-input-group__prepend {
  background-color: rgb(0,0,0,0) !important;
  color: var(--crl-fontcolor) !important;
  border-color: var(--crl-card-border) !important
}

.el-input__inner {
  background: var(--crl-background) !important;
  border: var(--crl-border-soild) var(--crl-card-border) !important;
  color: var(--crl-fontcolor) !important
}

.page .el-input__inner {
  background: rgb(0,0,0,0) !important
}

.el-input__inner:focus {
  border: var(--crl-border-soild) var(--crl-main) !important
}
.el-textarea{
  border: var(--crl-border-soild);
  border-radius: var(--crl-div-radius);
}
.tk-meta-input .el-input {
  width: auto;
  width: calc((100% - 1rem) / 3);
  flex: 1;
  border: var(--crl-border-soild)!important;
  border-radius: var(--crl-div-radius);
}
.el-textarea__inner {
  background: var(--crl-background) !important;
  color: var(--crl-fontcolor) !important;
  border-radius: var(--crl-border-radius) !important;
  min-height: 100px !important;
  padding: 16px 16px 40px 16px !important;
  border: var(--style-border-always) !important
}

@media screen and (max-width:768px) {
  .el-textarea__inner {
      border-radius: var(--crl-div-radius) !important;
      background: var(--card-bg) !important
  }
  #pagination .pagination {
    position: relative;
    display: flex;
    justify-content: center
}
}
@media screen and (max-width:768px) {
  #pagination .page-number {
      display: none
  }

  #pagination .pagination .space {
      display: none
  }

  #pagination .pagination .extend {
      width: 100%;
      height: 2.5rem;
      margin: .2rem 1rem 1rem 1rem;
      border-radius: 12px;
      line-height: 2.5rem;
      background: var(--crl-card-bg);
      border: var(--style-border-always);
      box-shadow: var(--crl-shadow-border)
  }

  #pagination .pagination .extend i {
      display: none
  }

  #pagination .pagination .extend:hover {
      background: var(--crl-theme);
      color: var(--crl-white)
  }

  #pagination .pagination {
      background: var(--crl-background);
      transition: .3s;
      display: flex
  }
}

@media screen and (min-width:768px) {
  #pagination .page-number {
      width: 2rem;
      background: var(--crl-card-bg);
      height: 2rem;
      line-height: calc(2rem - 2px);
      border-radius: var(--crl-div-radius) !important;
      margin: 0 .3rem;
      box-shadow: var(--crl-shadow-border);
      border: var(--style-border);
      transition: .3s
  }

  #pagination .page-number.current {
      background: var(--crl-theme);
      border: var(--style-border-hover);
      box-shadow: var(--crl-shadow-theme)
  }

  #pagination .page-number.current:hover {
      background: var(--crl-theme);
      box-shadow: var(--crl-shadow-theme);
      color: var(--crl-white)
  }

  #pagination .page-number:hover {
      color: var(--crl-theme);
      border: var(--style-border-hover);
      box-shadow: var(--crl-shadow-main);
      transform: scale(1.03)
  }

  #pagination a.extend.next:hover,
  #pagination a.extend.prev:hover {
      color: var(--crl-theme);
      border: var(--style-border-hover);
      box-shadow: var(--crl-shadow-main);
      transform: scale(1.03)
  }

  @media screen and (min-width:1300px) {
      #pagination .page-number:hover {
          transform: scale(1.03)
      }

      #pagination a.extend.next:hover,
      #pagination a.extend.prev:hover {
          transform: scale(1.03)
      }

      #pagination .page-number:active {
          transform: scale(.97)
      }

      #pagination a.extend.next:active,
      #pagination a.extend.prev:active {
          transform: scale(.97)
      }
  }

  #pagination span.space {
      margin: 0 .3rem
  }

  #pagination a.extend.next,
  #pagination a.extend.prev {
      width: 4rem;
      height: 2rem;
      line-height: 1.9rem;
      border-radius: var(--crl-div-radius) !important;
      background: var(--crl-card-bg);
      box-shadow: var(--crl-shadow-border);
      position: absolute;
      border: var(--style-border);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: .3s
  }

  #pagination a.extend.next i,
  #pagination a.extend.prev i {
      transition: .3s
  }

  #pagination a.extend.next {
      overflow: hidden
  }

  #pagination a.extend.next .pagination_tips_next {
      margin-left: -32px;
      transition: .3s;
      opacity: 0
  }

  #pagination a.extend.next:hover .pagination_tips_next {
      margin-left: 2px;
      opacity: 1;
      white-space: nowrap
  }

  #pagination a.extend.prev .pagination_tips_prev {
      margin-right: -32px;
      transition: .3s;
      opacity: 0
  }

  #pagination a.extend.prev:hover .pagination_tips_prev {
      margin-right: 2px;
      opacity: 1;
      white-space: nowrap
  }

  #pagination {
      overflow: visible
  }

  #pagination .pagination {
      position: relative;
      display: flex;
      justify-content: center
  }
}

a {
    color: var(--crl-fontcolor);
}

#page .el-textarea__inner {
  background: rgb(0,0,0,0) !important;
  box-shadow: var(--crl-shadow-border)
}

.el-textarea__inner:focus {
  border: var(--style-border-hover-always) !important;
  box-shadow: var(--crl-shadow-main)
}

#page .tk-meta-input .el-input {
  box-shadow: var(--crl-shadow-border)
}

#twikoo .tk-row .tk-col {
  flex-direction: column-reverse !important
}

#twikoo>div.tk-comments>div.tk-comments-container>div.tk-comments-title>span:nth-child(1) {
  display: none !important
}

.el-loading-mask {
  background-color: none !important
}

.tk-tag {
  transform: translateY(-2px)
}

.tk-tag-green {
  border-radius: var(--crl-div-radius) !important;
  border: 0 solid #e1f3d8 !important;
  font-size: .5rem !important
}

[data-theme=dark] .tk-tag-green {
  background-color: #67c23a21 !important
}

.tk-tag-yellow {
  border-radius: var(--crl-div-radius) !important;
  border: 0 solid #e1f3d8 !important;
  font-size: .5rem !important
}

[data-theme=dark] .tk-tag-green {
  background-color: #c0c23a21 !important
}

.tk-tag-red {
  border-radius: var(--crl-div-radius) !important;
  border: 0 solid #f3d8d8 !important;
  font-size: .5rem !important
}

[data-theme=dark] .tk-tag-red {
  background-color: #c23a3a21 !important
}

.el-button {
  background-color: var(--crl-fontcolor) !important;
  border: 0 solid var(--crl-main) !important;
  color: var(--crl-background) !important;
  border-radius: var(--crl-div-radius) !important
}

.el-button:hover {
  background: var(--crl-main) !important;
  color: var(--crl-white) !important
}

.el-button.tk-preview {
  display: none !important
}

#twikoo>div.tk-comments>div.tk-submit>div.tk-row.actions>a {
  display: none !important
}

#twikoo {
  z-index: 102
}

.twikoo-info {
  color: var(--crl-secondtext)
}

.tk-action-link {
  color: var(--crl-lighttext) !important
}

.tk-action-icon svg {
  fill: var(--crl-lighttext) !important
}

button.el-button.tk-cancel.el-button--default.el-button--small {
  background: var(--crl-secondbg) !important;
  border-radius: var(--crl-div-radius) !important;
  color: var(--crl-fontcolor) !important
}

.tk-submit-action-icon.__markdown {
  display: none
}

.tk-comments .el-button--primary {
  border-color: var(--crl-fontcolor) !important;
  color: rgba(0, 0, 0, 0.689) !important;
  border-radius: var(--crl-div-radius) !important;
  box-shadow: var(--crl-shadow-black);
  transition: .3s;
  width: 5rem;
  position: absolute;
  top: -53px;
  right: 0;
  margin-left: .5rem !important;
  height: 32px
}

.tk-comments .el-button--primary.is-disabled,
.tk-comments .el-button--primary.is-disabled:active,
.tk-comments .el-button--primary.is-disabled:focus,
.tk-comments .el-button--primary.is-disabled:hover {
  opacity: .4
}

.tk-row-actions-start {
  position: absolute;
  top: -100px;
  left: 17px
}

@media screen and (max-width:768px) {
  .tk-submit .el-button--primary {
      width: 5rem;
      height: 132px;
      top: -161px
  }

  .tk-row-actions-start {
      top: -210px
  }
}

.tk-comments-title {
  position: absolute;
  bottom: 0;
  left: 0
}

.tk-extras {
  margin-top: .5rem;
  padding-bottom: .5rem
}

.tk-icon.__comments:first-child {
  display: none
}

.tk-icon.__comments {
  margin-left: 0 !important
}

.tk-row.actions {
  margin-bottom: .5rem !important;
  margin-left: 0 !important;
  margin-top: .5rem !important;
  justify-content: space-around !important
}

.tk-meta-input {
  position: relative !important;
  margin-top: .8rem;
  width: calc(100% - 5.5rem)
}

#post-comment blockquote {
  background: var(--crl-secondbg);
  border: var(--style-border);
  box-shadow: none;
  margin: 0;
  margin-bottom: .5rem;
  font-size: .6rem;
  color: var(--crl-secondtext);
  border-radius: var(--crl-div-radius)
}

.tk-content .tk-owo-emotion {
  width: 3em;
  margin: 0 2px 0 2px
}

.OwO .OwO-body .OwO-bar .OwO-packages li {
  line-height: 45px !important;
  font-size: 14px !important
}

.OwO .OwO-body {
  z-index: 102;
  width: 500px
}
.tk-replies.tk-replies-expand>.tk-comment{
  border:var(--crl-border-dashed);
}
@media screen and (max-width:768px) {
  .OwO .OwO-body {
      width: 300px
  }
}

.tk-extra {
  background: rgba(22, 22, 22, 0.586);
  border: var(--crl-border-soild);
  padding: 1px 5px 1px 2px;
  border-radius: var(--crl-div-radius);
  margin-right: 12px !important;
  color: var(--crl-secondtext) !important;
  display: inline !important;
  margin-top: 6px !important;
  font-size: .5rem
}

.tk-extra .tk-icon {
  display: none
}

.tk-expand {
  background: rgb(0,0,0,0) !important;
  color: var(--crl-fontcolor) !important;
  border: var(--style-border-always);
  box-shadow: var(--crl-shadow-border);
  border-radius: var(--crl-border-radius)
}

.tk-expand:hover {
  background: var(--crl-theme) !important;
  color: var(--crl-white) !important
}

.tk-time {
  color: var(--crl-secondtext) !important;
  font-size: .8rem;
  margin-left: .5rem
}

.tk-comments-container>.tk-comment {
  margin-top: 0 !important;
  margin-bottom: 18px !important;
  background: rgb(0,0,0,0);
  transition: .3s;
  border-radius: var(--crl-border-radius);
  padding: 0;
  padding-top: .5rem;
  border: var(--crl-border-soild)!important;
  border-top: var(--style-border-dashed)
}

#page .tk-comments-container>.tk-comment {
  padding: 1rem;
  padding-bottom: 1.5rem;
  border: var(--style-border);
  border-top: var(--style-border);
  box-shadow: var(--crl-shadow-border)
}

@media screen and (max-width:768px) {
  .tk-comments-container>.tk-comment {
      padding: 1rem;
      box-shadow: var(--crl-shadow-border);
  }

  .tk-icon.__comments {
      left: .5rem
  }
}

.tk-icon {
  position: absolute
}

#post-comment .comment-head {
  font-size: .8em !important;
  margin-bottom: .5rem
}

.tk-comments-no {
  display: none !important
}

.tk-comments-container {
  min-height: 0 !important;
  margin-top: .5rem
}

.tk-replies>.tk-comment {
  background: rgb(0,0,0,0);
  border-radius: var(--crl-border-radius);
  padding: 4px;
  transition: .3s;
  padding-top: 8px;
  margin-top: 0
}

.tk-content p {
  margin: 0 !important
}

.tk-content{
  border-radius: var(--crl-div-radius);
  margin: 0;
}

.tk-replies .tk-content span:first-child {
  font-size: .5rem;
  color: var(--crl-secondtext)
}

.img-alt {
  font-size: 16px;
  margin: 0
}


#article-container a {
  text-decoration: none;
  border-bottom: 2px solid var(--crl-lighttext);
  color: var(--crl-fontcolor);
  font-weight: 700;
  padding: 0 4px;
  border-radius: var(--crl-div-radius) 4px 0 0
}

#article-container a:not(.fancybox):hover {
  text-decoration: none;
  border-bottom: 2px solid var(--crl-none);
  color: var(--crl-white);
  background: rgba(255, 255, 255, 0.4);
  border-radius: var(--crl-div-radius);
  box-shadow: var(--crl-shadow-main)
}
a {
  color: var(--crl-fontcolor);
}
a {
  color: rgb(153, 169, 191);
  text-decoration: none;
  transition: all 0.2s ease 0s;
  overflow-wrap: break-word;
}
a {
  background-color: transparent;
}
#nav #random_flink {
  display: inline;
  padding: 0 0 0 14px;
  font-size: 16px;
}
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '唔~输入您的QQ号,等待片刻就可获得您的『昵称』以及『头像』';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '输入您的『邮箱』可获得评论一手动态';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '输入您的『网站』可通过评论区『昵称』进行访问~~';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}
#statistic {
  font-size: 18px;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  color: var(--font-color);
  background-color: var(--card-bg);
}

div#statistic .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#statistic a {
  text-decoration: none;
}

#statistic .content div {
  display: inline-block;
}

#statistic div span {
  font-size: 14px;
  line-height: 1.3;
  display: block;
}

#statistic div .num {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .8rem;
}

.post-bg #post-cover{
  width: 100%;
  height: 100%;  
  object-fit: cover;
}
/* 首页分类条展示 */
#category-bar{
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  background: var(--crl-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
}

@media screen and (max-width: 768px){
  #category-bar{
    border-radius: 0;
  }
}

#category #category-bar{
  padding: 0;
  border: none;
}

#category a.category-bar-item.select a{
  display: none;
}

.category-in-bar{
  display: flex;
  white-space: nowrap;
}

.category-in-bar-tips{
  margin-right: 1rem;
}

.category-bar-items{
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}



.category-bar-items::-webkit-scrollbar{
  display: none;
}

.category-bar-item a{
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem;
  font-weight: bold;
  border-radius: 12px;
}

.category-bar-item:hover a{
  background: var(--crl-main);
  color: var(--crl-white);
}

.category-bar-item.select a {
  background: var(--crl-main);
  color: var(--crl-white);
  border-radius: 12px;
}

.category-bar-more{
  margin-left: 1rem;
  font-weight: bold;
}

/**首页*/
:root {
  --mj-white: #fff;
  --mj-card-bg: #fff;
  --mj-theme: #425AEF;
  --mj-main: #425AEF;
  --mj-secondbg: #ededed;
  --mj-card-border: #e3e8f7;
  --style-border: var(--crl-border-soild) var(--mj-card-border);
  --style-hover-border: var(--crl-border-soild) var(--mj-theme);
}

/* home top */
#home_top {
  max-width: 1500px;
  width: 100%;
  margin-top: .5rem;
  padding: 0 15px;
  margin: 0 auto;
}

.home_top_group {
  border-radius: 12px;
  overflow: auto;
  width: 100%;
  margin-bottom: 0;
}

.homeTopGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
  overflow-x: score;
  border-radius: 12px;
}

.homeTopGroup::-webkit-scrollbar {
  display: none;
}

.homeTopGroup #banner_group {
  display: flex;
}

div#banners {
  display: none;
}

@media screen and (min-width: 1300px) {
  .homeTopGroup #banner_group {
    width: calc(100% - 600px - 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div#banners {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--mj-main);
    margin-bottom: .5rem;
    margin-right: .5rem;
    border: var(--style-border);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  div#banners:hover {
    border: var(--style-hover-border);
  }

  .homeTopGroup .category_group {
    flex-direction: row !important;
  }

  .homeTopGroup .category_item {
    width: calc(100% / 3 - .33rem);
    height: 100% !important;
    margin-right: .5rem;
  }

  .homeTopGroup .category_item:nth-child(3) {
    margin-right: 0;
    display: flex !important;
  }

  #banner-page {
    width: 100%;
    height: 100%;
  }

  .top_post_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: calc(328px + .5rem);
    align-content: space-between;
    width: calc(600px + 1.5rem);
  }
}

.homeTopGroup .category_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.homeTopGroup .category_item {
  overflow: hidden;
  transform: scale(1);
  transition: .3s;
  height: 48%;
  border-radius: 12px;
}

.homeTopGroup .category_item:nth-child(3) {
  display: none;
}

.homeTopGroup .category_item a.category_button {
  height: 100%;
  width: 100%;
  background: var(--mj-card-bg);
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: 700;
  font-size: .9rem;
  color: var(--mj-white);
  transition: all .4s cubic-bezier(.39, .575, .565, 1);
  transform: scale(1);
  overflow: hidden;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

.category_button_text {
  padding-left: 25px;
}

a.category_button i {
  font-size: 3rem;
  opacity: .3;
  position: absolute;
  right: 15px;
  top: 10%;
  transition: .3s;
  transform: rotate(-10deg);
  /*width: 100px;
  text-align: center;*/
}

a.category_button:hover i {
  opacity: .8;
  transition: .8s;
  transition-delay: .15s;
  transform: scale(1.1)
}

a.category_button:hover:after {
  width: 3rem;
  transition: .8s;
}

a.category_button:after {
  top: 40px;
  width: 1rem;
  left: 25px;
  height: 2px;
  background: var(--mj-white);
  content: "";
  border-radius: 1px;
  position: absolute;
  transition: .8s;
}

@media screen and (max-width: 768px) {
  #home_top {
    padding: 0 5px;
  }

  .homeTopGroup .category_group {
    min-width: 130px !important;
  }

  .top_post_group .top_post_item {
    border-radius: 0;
  }
}

.top_post_group {
  display: flex;
  position: relative;
}

.top_post_group .top_post_item {
  display: flex;
  width: 200px;
  min-width: 200px;
  height: 164px;
  max-height: 164px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: var(--mj-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border);
}

.top_post_group .top_post_item:hover {
  border: var(--style-hover-border);
}

.top_post_group .top_post_item .post_cover {
  width: 100%;
  height: 110px;
  position: relative;
}

.top_post_group .top_post_item .post_cover img {
  object-fit: cover;
  width: 100%;
  height: 110px;
  background: var(--mj-secondbg);
}

.top_post_group .top_post_item .post_cover .post_cover_info {
  position: absolute;
  top: 0;
  width: 101%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: all 0.3s ease;
  display: flex;
}

.top_post_group .top_post_item:hover .post_cover .post_cover_info {
  opacity: 1;
}

.top_post_group .top_post_item .post_cover .post_cover_info .post_cover_text {
  color: #fff;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.top_post_group .top_post_item:hover .post_info,
.top_post_group .top_post_item:focus .post_info {
  /*background: var(--mj-theme);*/
  box-shadow: inset 0 -60px 0 0 var(--mj-theme);
}

.top_post_group .top_post_item .post_info a {
  color: var(--mj-fontcolor) !important;
  transition: 0;
}

.top_post_group .top_post_item:hover .post_info a {
  color: var(--mj-white) !important;
}

.top_post_group .top_post_item .post_info {
  padding: .2rem .5rem .3rem .5rem !important;
  transition: .3s;
  width: 100%;
  height: 100%;
}

.top_post_group .top_post_item .post_info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  font-weight: 600;
  font-size: .8rem !important;
  padding: 0 !important;
}


/**背景*/
/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
  border-radius: 12px;
  overflow: hidden;
}

.wb-full {
  display: none;
}

.wb-min {
  background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
  background: #333 !important;
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden;
}

.pimgbox {
  height: 240px;
}

.imgbox {
  height: 95px;
}

.box {
  height: 100px;
}

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
  border: none;
  background: transparent;
  width: 166px;
  height: 110px;
  margin: 5px 10px;
  position: relative;
  cursor: pointer;
}

#color::before {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 38px;
  top: 44px;
  content: '自定义颜色';
} */

@media screen and (max-width: 768px) {

  /* 背景 */
  .pimgbox,
  .imgbox,
  .box {
    height: 73px;
    width: 135px;
  }

  .pimgbox {
    height: 205px;
  }

  /* 老用户如果不再使用页面版可删除下面代码 */
  /* #color {
      width: 141px;
      height: 83px;
      margin: 7px;
  }
  #color::before {
      left: 33px;
      top: 33px;
  }     */

  /* 2.0新增内容 */
  .wb-min {
    display: none;
  }

  #changeBgBox .wb-body::-webkit-scrollbar {
    display: none;
  }
}

/* 最新文章图标 */
.newPost-left,
.newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #49b1f5;
  border-radius: 0 0 10px 10px;
}

.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}

/* 标签 */
#aside-content .card-tag-cloud a {
  border: var(--crl-border-soild);
  line-height: 1.5;
  border-radius: 6px;
  margin: 3px;
  padding: 0 5px;
}

.tag-cloud-list a {
  border: var(--crl-border-soild);
  line-height: 1.5;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1.2rem;
  margin: 5px;
}

/*夜间模式*/
[data-theme=dark] {
  --search-bg: rgb(47 48 50);
  --card-bg: rgb(47 48 50 / 50%);
  --scrollbar-color: #555
}

/*透明度END*/
/*单个分类*/
.page #category .category-list-bar,
#tag .tag-list-bar {
  width: 100%;
  height: 3rem;
  background-color: var(--kk-card-bg);
  border-radius: 0.5rem;
  line-height: 3rem;
  display: flex;
}

.page #category .category-list-bar .iconfont,
#tag .tag-list-bar .iconfont {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.25rem;
}

.page #category .category-list-bar .lists,
#tag .tag-list-bar .lists {
  width: calc(100% - 3rem);
  overflow: scroll;
}

.page #category .category-list-bar .lists::-webkit-scrollbar,
#tag .tag-list-bar .lists::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.page #category .category-list-bar .lists ul,
#tag .tag-list-bar .lists ul {
  width: max-content;
  height: 3rem;
  display: flex;
  align-items: center;
}

.page #category .category-list-bar .lists .category-list .category-list-item,
#tag .tag-list-bar .lists ul a {
  padding: 0 0.4rem;
  margin: 0 0.3rem;
  height: 2rem;
  line-height: 2rem;
  /*background: #fff;*/
  border-radius: 0.4rem;
  transition: 0.2s;
}

.page #category .category-list-bar .lists .category-list .category-list-item:hover,
.page #category .category-list-bar .lists .category-list .category-list-item.checked,
#tag .tag-list-bar .lists ul a:hover,
#tag .tag-list-bar .lists ul a.checked {
  background-color: var(--kk-border-white);
}

.page #category .category-list-bar .lists .category-list .category-list-item span {
  display: none;
}

/*漫天繁星**/
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#footer {
  background: 0 0
}

#footer::before {
  content: none
}

[data-theme=dark] #footer::before {
  content: none
}

div#footer_icon {
  border-radius: 15px 15px 0 0;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#footer_icon i {
  padding-top: 1px;
  font-size: 20px;
  color: #fff;
  transition: .3s
}

a.icon_link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: var(--font-color);
  border-radius: 3rem
}

[data-theme=dark] a.icon_link {
  background-color: #ececec
}

[data-theme=dark] #footer_icon i {
  color: #202020
}

#footer_icon a:hover {
  background-color: #49b1f5
}

[data-theme=dark] #footer_icon a:hover i {
  color: #fff
}

.icon_left,
.icon_right {
  display: flex
}

img.footer_logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 1rem;
  cursor: pointer;
  filter: drop-shadow(0 0 12px rgba(187, 138, 64, .35));
  transition: cubic-bezier(0, 0, 0, 1.29) .5s;
  transition: all .25s
}

img.footer_logo:hover {
  filter: drop-shadow(0 0 15px rgba(187, 138, 64, .7))
}

#footer_icon,
#crl-footer {
  margin: auto;
  max-width: 1200px;
  width: 97%;
  background: rgba(245, 249, 255, .6)
}

[data-theme=dark] #footer_icon,
[data-theme=dark] #crl-footer {
  background: rgba(24, 24, 30, .5)
}

#crl-footer {
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 2rem 2rem
}

#crl-footer .footer-group {
  min-width: 120px
}

#crl-footer .footer-title {
  color: var(--font-color)
}

#crl-footer .footer-links {
  display: flex;
  flex-direction: column
}

#crl-footer .footer-item {
  font-size: 1rem;
  line-height: 1;
  margin: .38rem 0;
  color: var(--font-color)
}

#footer-bottom {
  font-size: 1rem;
  padding: 1rem;
  color: var(--font-color);
  margin-top: 1rem;
  background: var(--card-bg);
  display: flex !important;
  overflow: hidden;
  z-index: 1002;
  transition: .3s;
  border-top: 1px solid #e3e8f7
}

#footer-bottom .footer-bottom-links {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap
}

#footer-bottom .footer-bottom-left {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  color: var(--font-color);
  font-weight: 700;
  white-space: nowrap
}

#footer-bottom>div>div.footer-bottom-left>span {
  margin-right: 1rem
}

#footer-bottom .footer-bottom-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

#footer-bottom .footer-bottom-link {
  margin-right: 1rem;
  color: var(--font-color);
  font-weight: 700;
  white-space: nowrap
}

@media screen and (max-width:768px) {
  ul.menus_item_child {
    padding-left: 40px !important
  }

  #rightMenu {
    display: none;
  }

  #bber-talk {
    padding: 0 12px 0 8px
  }

  #crl-footer {
    padding: 1rem
  }

  #crl-footer .footer-group {
    text-align: center
  }

  #footer-bottom {
    padding: 1rem 0
  }

  #footer-bottom .footer-bottom-link {
    margin-right: .5rem
  }

  .footer-bottom-left,
  .footer-bottom-right {
    width: 100%;
    justify-content: center
  }

  img.footer_logo {
    display: none
  }
}

/**圆角*/
#recent-posts>.recent-post-item {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* 修改图片圆角 */
img[src*="#img-radius"] {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* 侧边栏圆角 */
#aside-content .card-widget {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/* github按钮圆角 */
#card-info-btn {
  border-radius: var(--crl-border-radius);
  overflow: hidden;
  border: var(--crl-border-soild);
}

#card-info-btn:before {
  border-radius: var(--crl-border-radius);
  border: var(--crl-border-soild);
}

/*菜单*/
/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
  display: inline-block;
  border-radius: var(--crl-border-radius);
}
#nav .menus_items {
  /* display: inline; 这个带不带都可以，本来就是inline */
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}
.search-dialog {
  border-radius: var(--crl-border-radius);
  background-color: rgb(47 48 50 / 50%);
  border: var(--crl-border-soild);
}
.local-search__hit-item{
  margin-top: 8px;
  border: var(--crl-border-dashed);
  border-radius: var(--crl-div-radius);
  padding: 4px;
}

.search-dialog-title {
  font-style: black;
}

#local-search .search-dialog .search-result-list {
  overflow-y: auto;
  max-height: 400px
}

/*进度条*/
/* 在下面修改进度条外观 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: var(--crl-div-radius);
  width: 4rem;
  background: var(--crl-secondbg);
  border: var(--style-border);
  overflow: hidden
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: .3s ease-in
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--crl-logo-color);
  animation: gradient 2s ease infinite;
  background-size: 200%
}

.pace.pace-inactive {
  opacity: 0;
  transition: .3s;
  top: -8px
}

/** 普通指针样式**/
body {
  cursor: url(), default;
}

/** 链接指针样式**/
a:hover {
  cursor: url(), pointer;
}

/** 鼠标样式-end**/

/* rightMenu右键菜单 */
#rightMenu {
  display: none;
  position: fixed;
  padding: 0 0.25rem;
  width: 9rem;
  height: fit-content;
  top: 10%;
  left: 10%;
  background-color: var(--crl-card-bg);
  color: var(--crl-fontcolor);
  border-radius: 12px;
  z-index: 102;
  border: var(--style-border);
  transition: 0.3s;
}

#rightMenu:hover {
  border: var(--style-border-hover);
  box-shadow: var(--crl-shadow-theme);
}

#rightMenu .rightMenu-group {
  padding: 0.35rem 0.3rem;
}

#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
  border-bottom: 1px dashed var(--crl-theme-op);
}

#rightMenu .rightMenu-group.rightMenu-small {
  display: flex;
  justify-content: space-between;
}

#rightMenu .rightMenu-group .rightMenu-item {
  border-radius: var(--crl-div-radius);
  transition: 0.3s;
  cursor: pointer;
}

#rightMenu .rightMenu-line .rightMenu-item {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display: flex;
}

#rightMenu .rightMenu-group .rightMenu-item:hover {
  background-color: var(--crl-theme);
  color: var(--crl-white);
  box-shadow: var(--crl-shadow-theme);
}

#rightMenu .rightMenu-group .rightMenu-item i {
  display: inline-block;
  text-align: center;
  line-height: 1.5rem;
  width: 1.5rem;
  padding: 0 0.25rem;
}

#rightMenu .rightMenu-line .rightMenu-item i {
  margin: 0 0.25rem;
}

#rightMenu .rightMenu-group .rightMenu-item span {
  line-height: 1.5rem;
}

#rightmenu-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--crl-maskbg);
  top: 0;
  left: 0;
  display: none;
  z-index: 101;
  margin: 0 !important;
}

/*自定义菜单*/

/*字体*/
@font-face {
  font-family: 'hmos';
  /* 字体名自定义即可 */
  src: url('/crl/fonts/HMOS.ttf')format('ttf');
  /* 字体文件路径 */
  font-display: swap;
}

@font-face {
  font-family: 'hmos_code';
  /* 字体名自定义即可 */
  src: url('/crl/fonts/HMOS_CODE.ttf')format('ttf');
  /* 字体文件路径 */
  font-display: swap;
}

@font-face {
  font-family: 'hmos_pro';
  /* 字体名自定义即可 */
  src: url('/crl/fonts/HMOS.woff2')format('woff2');
  /* 字体文件路径 */
  font-display: swap;
}

@font-face {
  font-family: 'hmos_code_pro';
  /* 字体名自定义即可 */
  src: url('/crl/fonts/HMOS_CODE.woff2')format('woff2');
  /* 字体文件路径 */
  font-display: swap;
}

/*字体*/

/*导航条*/
@-webkit-keyframes aplayer-roll {
  0% {
    left: 0
  }

  to {
    left: -100%
  }
}

@keyframes aplayer-roll {
  0% {
    left: 0
  }

  to {
    left: -100%
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

/*# sourceMappingURL=APlayer.min.css.map*/



/*音乐隐藏*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

svg.icon.festival-decoration {
  width: 3em;
  height: 3em;
  left: 2em;
  margin-bottom: -3em;
  display: block;
  z-index: 100;
  position: relative;
  -webkit-animation: sway 1s infinite ease-in-out alternate;
  animation: sway 1s infinite ease-in-out alternate;
}

@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(20deg);
    transform-origin: center top;
  }

  100% {
    -webkit-transform: rotate(-20deg);
    transform-origin: center top;
  }
}

@keyframes sway {
  0% {
    transform: rotate(20deg);
    transform-origin: center top;
  }

  100% {
    transform: rotate(-20deg);
    transform-origin: center top;
  }
}

/*音乐隐藏*/

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1d1d;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 4em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}
/*crl color*/
:root{
  --crl-white: #fff;
  --crl-black: #000;
  --crl-none: rgba(0,0,0,0);
  --crl-gray: #999999;
  --crl-yellow: #ffc93e;
  --crl-main: var(--crl-theme);
  --crl-main-op: var(--crl-theme-op);
  --crl-shadow-theme: 0 8px 12px -3px var(--crl-theme-op);
  --crl-shadow-main: 0 8px 12px -3px var(--crl-main-op);
  --crl-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
  --crl-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
  --crl-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
  --crl-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
  --crl-shadow-red: 0 8px 12px -3px #ee7d7936;
  --crl-shadow-green: 0 8px 12px -3px #87ee7936;
  --crl-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
  --style-border: var(--crl-border-soild) var(--crl-card-border);
  --style-border-hover: 1px solid var(--crl-theme);
}

::selection {
  background: var(--crl-fontcolor);
  color: var(--crl-background);
}

[data-theme=light] {
  --crl-theme: #425AEF;
  --crl-theme-op: #4259ef23;
  --crl-blue: #425AEF;
  --crl-red: #D8213C;
  --crl-pink: #FF7C7C;
  --crl-green: #57bd6a;
  --crl-fontcolor: #363636;
  --crl-background: #f7f9fe;
  --crl-reverse: #000;
  --crl-maskbg: rgba(255, 255, 255, 0.6);
  --crl-maskbgdeep: rgba(255, 255, 255, 0.85);
  --crl-hovertext: var(--crl-theme);
  --crl-ahoverbg: #F7F7FA;
  --crl-lighttext: var(--crl-main);
  --crl-secondtext: rgba(60, 60, 67, 0.6);
  --crl-scrollbar: rgba(60, 60, 67, 0.4);
  --crl-card-btn-bg: #edf0f7;
  --crl-post-blockquote-bg: #fafcff;
  --crl-post-tabs-bg: #f2f5f8;
  --crl-secondbg: #edf0f7;
  --crl-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --crl-card-bg: #fff;
  --crl-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --crl-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --crl-card-border: #e3e8f7;
}

[data-theme=dark] {
  --crl-theme: #0084FF;
  --crl-theme-op: #0084FF23;
  --crl-blue: #0084FF;
  --crl-red: #FF3842;
  --crl-pink: #FF7C7C;
  --crl-green: #57bd6a;
  --crl-fontcolor: #F7F7FA;
  --crl-background: #18171d;
  --crl-reverse: #fff;
  --crl-maskbg: rgba(0,0,0, 0.6);
  --crl-maskbgdeep: rgba(0,0,0, 0.85);
  --crl-hovertext: #0A84FF;
  --crl-ahoverbg: #fff;
  --crl-lighttext: #f2b94b;
  --crl-secondtext: #a1a2b8;
  --crl-scrollbar: rgba(200, 200, 223, 0.4);
  --crl-card-btn-bg: #30343f;
  --crl-post-blockquote-bg: #000;
  --crl-post-tabs-bg: #121212;
  --crl-secondbg: #30343f;
  --crl-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --crl-card-bg: #1d1b26;
  --crl-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --crl-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --crl-card-border: #42444a;
}

@media screen and (max-width: 768px){
  :root{
    --style-border: 0px solid var(--crl-card-border);
    --style-border-hover: 0px solid var(--crl-theme);
  }
}
