#footer {
	 margin-top: 1rem;
}
 #fotter-copyright {
	 position: relative;
	 padding: 0 20px;
	 margin-bottom: 2rem;
	 color: var(--font-color);
	 text-align: center;
}
 #fotter-copyright a {
	 color: var(--font-color);
}
 #fotter-copyright a:hover {
	 color: $theme-link-color;
	 text-decoration: underline;
}
 #fotter-copyright .footer-separator {
	 margin: 0 4px;
}
 #ah-footer {
	 display: flex;
	 flex-direction: row;
	 width: 100%;
	 max-width: 900px;
	 margin: 1rem auto;
	 justify-content: space-between;
	 flex-wrap: wrap;
	 margin-bottom: 2rem;
	 padding: 0 1rem;
}
 #ah-footer .footer-group {
	 min-width: 100px;
	 text-align: center;
}
 #ah-footer .footer-group .footer-links {
	 display: flex;
	 flex-direction: column;
}
 #ah-footer .footer-group .footer-links a.footer-item {
	 color: var(--font-color);
	 line-height: 1rem;
	 margin: 0.38rem 0;
}
 #ah-footer .footer-group .footer-links a.footer-item:hover {
	 color: var(--btn-hover-color);
}
 
