#footer_deal
  a.deal_link(href="mailto:1043865083@qq.com" title="mail")
    i.iconfont.icon-mail
  a.deal_link(href="https://qm.qq.com/cgi-bin/qm/qr?k=eHT6b6llnxiiT4IjuaBXvselTBWRK7-b&noverify=0" title="qq" target="_blank")
    i.iconfont.icon-qq1 
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='https://q1.qlogo.cn/g?b=qq&nk=1043865083&s=5' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="" title="Telegram" target="_blank")
    i.iconfont.icon-telegram
  a.deal_link(href="https://github.com/xlenco" title="github"  target="_blank")
    i.iconfont.icon-github1
#Jay-footer
  .footer-group
    h3.footer-title 直达
    .footer-links
      a.footer-item(href="/" target="_blank") 我的主页
      a.footer-item(href="/music") 音乐欣赏
      a.footer-item(href="/essay") 心灵港湾
      a.footer-item(title="随机文章" onclick="toRandomPost()") 随机文章
  .footer-group
    h3.footer-title 分类
    .footer-links
      a.footer-item(href="/categories/学习/") 学习笔记
      a.footer-item(href="/categories/教程/") 实用教程
      a.footer-item(href="/categories/前端/") 前端笔记
  .footer-group
    h3.footer-title 关于
    .footer-links
      a.footer-item(href="/about/") 关于我
      a.footer-item(href="/about/") 博客统计
      a.footer-item(href="/archives") 文章归档
      a.footer-item(href="/update") 更新记录
  .footer-group
    h3.footer-title 友链
      button(
        href="javascript:;"
        onclick="shine.randomLink()"
        title="换一批"
        class="fa-rotate-righ-button"
      )
        i.fa-rotate-right.fa-solid
    .footer-links#friend-links-in-footer
      a.footer-item(href="")
      a.footer-item(href="")
      a.footer-item(href="")
      a.footer-item(href="")
      a.footer-item(href="")
      a.footer-item(data-pjax-state="" href="/link/") 查看更多

  .footer-group
    h3.footer-title 协议
    .footer-links
      a.footer-item(href="/privacy/") 隐私协议
      a.footer-item(href="/cookies/") Cookie
      a.footer-item(href="/cc/") 版权协议
#footer-banner
  .footer-banner-links
    .footer-banner-left
      .footer-banner-left
        #footer-banner-tips
        script(src='https://unpkg.onmicrosoft.cn/typed.js/lib/typed.min.js')
        script.
          var typed = new Typed("#footer-banner-tips", {
            strings: ["最好的地方,是没去过的地方。最好的时光，是回不来的时光。", "The best place is a place you've never been to. The best time is the time that can't come back."],
            startDelay: 200,
            backDelay: 2000,
            typeSpeed: 100,
            loop: true,
            backSpeed: 20
          })

    .footer-banner-right
      a.footer-banner-link(href="https://hexo.io/zh-cn/" title="Hexo") 框架
      a.footer-banner-link |
      a.footer-banner-link(href="https://github.com/jerryc127/hexo-theme-butterfly" title="theme") 主题
      a.footer-banner-link |
      a.footer-banner-link(href="/atom.xml" title="RSS") 订阅
      a.footer-banner-link |
      a.footer-banner-link(href="/about/" title="about") 关于
      a.footer-banner-link |
      a.footer-banner-link.cc(href="/cc/" title="cc协议")
        i.iconfont.icon-cc
        span 协议
