#ah-footer
  .footer-group
    h3.footer-title 博客文章
    .footer-links
      a.footer-item(href='/archives/', data-pjax-state='') 全部文章
      a.footer-item(href='/tags/', data-pjax-state='') 文章标签
      a.footer-item(href='/categories/', data-pjax-state='') 文章分类

  .footer-group
    h3.footer-title 学习笔记
    .footer-links
      a.footer-item(href='/tags/笔记/', data-pjax-state='') 笔记
      a.footer-item(href='/tags/教程/', data-pjax-state='') 教程
      

  .footer-group
    h3.footer-title 博客链接
    .footer-links
      a.footer-item(href='/fcircle/', data-pjax-state='') 友链动态
      a.footer-item(href='/link/', data-pjax-state='') 友情链接
      a.footer-item(href='/shuoshuo/', data-pjax-state='') 说说点啥



  .footer-group
    h3.footer-title 关于本站
    .footer-links
      a.footer-item(href='/about/', data-pjax-state='') 关于博主
      a.footer-item(href='/cc/', data-pjax-state='') 版权协议
      

#fotter-copyright(style='font-size:90%')
  .copyrights
    span= _p('Copyright © 2022 Xlenco. ')
    span= _p(' All rights reserved.')
  .framework-info
    span= _p('Powered by') + ' '
    a(href='https://hexo.io') Hexo
    span.footer-separator &
    a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
