link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
#sticky
  #stickyList.swiper-container
    #stickyWrapper.swiper-wrapper
      .swiper-slide(onclick=`window.open('/random/','_self')`)
        .grid-img
          iframe#banner-page(src="<这里放iframe地址>" frameborder="0" loading="eager") // 可以放iframe
        .grid-title
          span 随便逛逛
          i.fas.fa-arrow-right
      .swiper-slide(onclick=`window.open('/video/','_self')`)
        .grid-img
          img.cover.entered.loaded(alt='VLOG' src='https://npm.elemecdn.com/justlovesmile-photo/myvlog.gif') // 可以放GIF
        .grid-title
          span 看看VLOG
          i.fas.fa-arrow-right
      .swiper-slide(onclick=`window.open('/music/','_self')`)
        .grid-img
          img.cover.entered.loaded(alt='歌单' src='https://npm.elemecdn.com/justlovesmile-img/gitar.jpg') // 可以放图片
        .grid-title
          span 听听音乐
          i.fas.fa-arrow-right
    //- 分页器
    .swiper-pagination

.js-pjax
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='/js/sticky.js')
link(rel='stylesheet' href='/css/sticky.css')
