#rightMenu
	.rightMenu-group.rightMenu-small
		a.rightMenu-item(href="javascript:window.history.back();")
			i.fa-solid.fa-arrow-left
		a.rightMenu-item(href="javascript:window.location.reload();")
			i.fa-solid.fa-arrow-rotate-right
		a.rightMenu-item(href="javascript:window.history.forward();")
			i.fa-solid.fa-arrow-right
		a.rightMenu-item#menu-radompage(href='https://nicexl.vercel.app/')
			i.fa-solid.fa-house
	.rightMenu-group.rightMenu-line.hide#menu-text
		a.rightMenu-item(href="javascript:kk.copySelect();")
			i.fa-solid.fa-copy
			span='复制'
	.rightMenu-group.rightMenu-line
		a.rightMenu-item(href="javascript:kk.switchDarkMode();")
			i.fa-solid.fa-circle-half-stroke
			span='昼夜切换'
		a.rightMenu-item(href="javascript:kk.switchReadMode();")
			i.fa-solid.fa-book
			span='阅读模式'