# 自动化名称
name: autodeploy

# 触发条件
on: [push, repository_dispatch, workflow_dispatch]

# 设置环境
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai


    
    steps:
      # check it to your workflow can access it
      # from: https://github.com/actions/checkout
      - name: Checkout Repository master branch
        uses: actions/checkout@master

      # from: https://github.com/actions/setup-node
      - name: Setup Node.js 16.x
        uses: actions/setup-node@master
        with:
          node-version: "16.x"

      - name: 安装Hexo
        run: |
          npm install hexo-cli -g
          npm install gulp-cli -g

          

      - name: 设置密钥
        env:
          HEXO_DEPLOY_PRIVATE_KEY: ${{ secrets.HEXO_DEPLOY_PRIVATE_KEY }}
          TZ: Asia/Shanghai
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_PRIVATE_KEY" > ~/.ssh/id_rsa 
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts  

      - name: 设置Git信息
        run: |
          git config --global user.name 'xlenco' 
          git config --global user.email '1043865083@qq.com'      

      
      - name: 缓存 Hexo
        uses: actions/cache@v1
        id: cache
        with:
          path: node_modules
          key: ${{runner.OS}}-${{hashFiles('**/package-lock.json')}}

      - name: 安装依赖
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          npm install --save

      - name: Hexo三连
        run: |
          hexo clean
          hexo generate 
          cd public
          node npmversionupdata.js
          npm publish
          gulp
          hexo deploy
        

     
